

body {
	font-size: 1.125em;
	line-height: 1.6;
	color: #333;
	background: #ddd;
	background-size: 300%;
}

.content {
	background: #fff;
	width: 70vw;
	padding: 3em;
	box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
}

.title {
	margin: 0 0 0.5em;
	text-transform: uppercase;
	font-weight: 900;
	font-style: italic;
	font-size: 3rem;
	color: #ee6352;
	line-height: 0.8;
}
	
.fun {
	border: 0;
	padding: 0.5em 1.5;
}